
{% extends "base.html" %}

{% block title %}Главная - AstraNova{% endblock %}

{% block content %}
<section>
    <h2>Почему ASTRANOVA?</h2>
    <p>Честно говоря, название такое по принципу, что всё спонтанное и случайное оказалось самым лучшим)</p>
    <p>Было много вариантов, казалось бы, более подходящих по стилистике, связанных с мантрами или на санскрите, но в итоге, оставили это.</p>
    <p>Astra Nova — «новые звёзды» на латыни.</p>
    <p>Что за звёзды? Те звёзды, которые открываются человеку, когда его ум спокоен. И они кажутся новыми, хотя, они всегда здесь.</p>
    <p>Санскритское слово «мантра» состоит из двух корней — «ман», manas, ум и «тра», инструмент, орудие. Таким образом, мантра — это инструмент для работы с умом, для трансформации ума.</p>
    <p>И когда мы трансформируем ум, нашему взору открывается то сияние, те звёзды, которые обычно закрыты бесконечным потоком мыслей, подобно тому, как песок оседает на дно реки и мы можем видеть то, что на дне. Или когда мы уезжаем из города, от оранжевого света фонарей, скопления облаков и дыма, и видим чистое звёздное небо.</p>
</section>

<section>
    <h2>Галерея</h2>
    <div>
        <img src="{{ url_for('static', filename='image/photo_2025-02-24_20-12-30.jpg') }}" alt="Фото 1">
        <img src="{{ url_for('static', filename='image/photo_2025-02-24_20-12-41.jpg') }}" alt="Фото 2">
        <img src="{{ url_for('static', filename='image/photo_2025-02-24_20-12-45.jpg') }}" alt="Фото 3">
    </div>
</section>
{% endblock %}